@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

header,
section,
footer {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 173, 108, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

body {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url('images/pesawat.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


.navbar-light .navbar-nav .nav-link {
    transition: color 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: red;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.btn-subscribe {
    background-color: red;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-subscribe:hover {
    background-color: red;
    transform: scale(1.05);
}

.footer-input {
    border-radius: 20px;
    border: 1px solid #ddd;
}

footer {
    position: relative;
    padding: 20px;
}

.transparent-3d-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 15px;
    margin: auto;
}

.transparent-container {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 15px;
    padding: 1rem !important;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
}

.transparent-image-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#carousel-container {
    max-width: 800px;
    margin: auto;
}

.transparent-image-container {
    overflow: hidden;
    transition: transform 0.3s ease;
}

.transparent-image-container:hover img {
    transform: scale(1.05);
    filter: brightness(1.2);
}

.btn-light {
    transition: background-color 0.3s, color 0.3s;
}

.btn-light:hover {
    background-color: #f0e68c;
    color: #000;
}

.py-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}